<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- Lookup method injection -->
	<bean name="newOrder" class="ua.epam.rd.pizzadeliveryservice.entity.Order" scope="prototype"/>

	<bean id="orderService" class="ua.epam.rd.pizzadeliveryservice.service.SimpleOrderServiceLookupMethodInjection" >
		<lookup-method name="createOrder" bean="newOrder" />
		<property name="orderRepository" ref="orderRepository" />
	</bean>
	<!-- end of Lookup method injection -->
	
</beans>
