<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd">
		
		<context:component-scan base-package="ua.epam.rd.pizzadeliveryservice" >
<!-- 			<context:include-filter type="annotation" expression="OrderAnnotation"/> -->
		</context:component-scan>
		
		
	<bean id="pizzaRepository" class="ua.epam.rd.pizzadeliveryservice.repository.TestPizzaRepositoryImpl">
		<property name="pizzas">
			<list>
				<bean class="ua.epam.rd.pizzadeliveryservice.entity.Pizza">
					<constructor-arg value="Pizza1" />
					<constructor-arg value="10.0" type="Double" />
					<constructor-arg value="VEGETARIAN" />
				</bean>
				<bean class="ua.epam.rd.pizzadeliveryservice.entity.Pizza">
					<constructor-arg value="Pizza2" />
					<constructor-arg value="50.0" type="Double" />
					<constructor-arg value="MEET" />
				</bean>
			</list>
		</property>
	</bean>

	
</beans>
